## files
debug-thesis.tex
*.html
*.aux
*.log
*.odt
*.tns
*.idx
*.out
*.el
*.bbl
*.blg
*.pdf
*.png
*.svg
*.RData
*.lof
*.lot
*.toc
*.Rhistory
*.org

## directories
org/
pdf/
graphics/
other-thesis
tex/tufte-latex/
minion-pro/
tex/.bak/
